/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2016, 11:37:52 AM
    Author     : ericewe
*/

/** main background **/
.root {
     -fx-background-image: url("background_1.jpg");
     -fx-background-size:cover;
     -fx-min-width: 1020px;
}

/** list **/
#todoList {
    -fx-background-color: rgb(255, 255, 255, 0);
    -fx-font-size: 25px;
}

#todoClass {
    -fx-background-color: rgb(255, 255, 255, 0);
    -fx-font-size: 25px;
}

.list-cell {
    -fx-background-color: rgb(0, 0, 0, 0.3);
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: darkorange;
    -fx-text-fill: white;
}

/** user input feedback **/
#feedback {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: red;
}

/** check box **/
.check-box {
    -fx-text-fill: white;
}



