@font-face {
    font-family: delicious-bold;
    src: url("Fonts/Delicious-Bold.otf");
}

@font-face {
    font-family: delicious-smallcaps;
    src: url("Fonts/Delicious-SmallCaps.otf");
}

#helpListContainer {
	-fx-background-color: rgb(255, 130, 0, 0.6);
	-fx-background-radius: 20 20 20 20;
	-fx-padding: 20;
}

#helpHeading {
	-fx-font-size: 30px;
    -fx-font-family: delicious-smallcaps;
    -fx-text-fill: black;
}

.table-view {
    -fx-base: beige;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-radius: 20 20 20 20;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(black, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
    -fx-opacity: 0;
}

.table-view .column-header .label {
    -fx-font-size: 10px;
    -fx-font-family: delicious-smallcaps;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-cell {
	-fx-font-size: 12px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

