@font-face {
    font-family: delicious-bold;
    src: url("Fonts/Delicious-Bold.otf");
}

@font-face {
    font-family: delicious-roman;
    src: url("Fonts/Delicious-Roman.otf");
}

@font-face {
    font-family: delicious-smallcaps;
    src: url("Fonts/Delicious-SmallCaps.otf");
}
 
@font-face {
    font-family: infinity;
    src: url("Fonts/Infinity.ttf");
} 

@font-face {
	font-family: comicNeue-angular-regular;
	src: url("Fonts/ComicNeue-Angular-Regular.otf");
}

@font-face {
	font-family: docker-one;
	src: url("Fonts/Docker-One.ttf");
}


#mainPaneDefault {
    -fx-background-image: url("/ui/Application/Stylesheets/Background/empty_wall.png");
}

#mainPaneSea {
    -fx-background-image: url("/ui/Application/Stylesheets/Background/sea_mtfuji.jpg");
}

#mainPaneMountain {
    -fx-background-image: url("/ui/Application/Stylesheets/Background/mountains.jpg");
}

#mainPaneNight {
    -fx-background-image: url("/ui/Application/Stylesheets/Background/night_deathvalley.jpg");
}

#mainPaneSunrise {
    -fx-background-image: url("/ui/Application/Stylesheets/Background/sunrise_skye.jpg");
}

#mainPaneSunset {
    -fx-background-image: url("/Application/Stylesheets/Background/sunset_iceland.jpg");
}

#mainPaneWinter {
    -fx-background-image: url("/ui/Application/Stylesheets/Background/winter_netherlands.jpg");
}

.root {
	-fx-background-size: cover;
    -fx-min-width: 1020px;
}

#mainPane {
	-fx-alignment: center ; 
	-fx-padding: 50 0 0 0;
}

#titleMessage {
	-fx-font-family: "DOCKER";
	-fx-font-size: 40px;
	-fx-fill: white;
	-fx-stroke: darkorange;
	-fx-stroke-width: 2px;
}

#subMessage {
	-fx-font-family: delicious-roman;
	-fx-font-size: 15px;
	-fx-fill: white;
}

#calendarContainer {
	-fx-background-color: rgb(255, 130, 0, 0.6);
	-fx-background-radius: 20 20 20 20;
	-fx-max-width: 800;
	-fx-max-height: 800;
	-fx-alignment: center;
	-fx-padding: 20;
}

.date-picker-popup {
	-fx-font-size: 15px;
	-fx-background-color: rgb(0, 0, 0, 0);
	-fx-max-width: 500;
	-fx-pref-height: 500;
}

.date-picker-popup > .month-year-pane {
	-fx-font-size: 15px;
	-fx-background-color: rgb(0, 0, 0, 0);
}

.date-picker-popup > * {
	-fx-background-color: rgb(0, 0, 0, 0);
}

.date-picker-popup > * > .day-cell {
	-fx-font-size: 15px;
	-fx-background-color: rgb(0, 0, 0, 0);
	-fx-border-color: transparent;
        
}

.date-picker-popup > * > .today {
	-fx-background-color: orangered;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area {
	-fx-padding: 0 0 0 20;
}

.tab-pane .tab {
    -fx-background-color: rgb(255, 255, 255, 0.5);
    -fx-border-radius: 20 20 20 20;
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-font-size: 15px;
    -fx-alignment: center;
}

.tab-pane .tab:selected  .tab-label{
   -fx-text-fill: darkorange;
}


#imageView {
	-fx-opacity: 0.7;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,1) , 0,0,0,1 );
}

.borderPane {
    -fx-max-width: 1020px;
}

#quote {
     -fx-font-family: infinity;
     -fx-font-size: 20px;
     -fx-fill: white;
}

/** list **/
#todoList {
	-fx-background-color: rgb(255, 255, 255, 0.5);
    -fx-font-size: 18px;
    -fx-font-family: delicious-roman;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 10;
}

.label {
	-fx-text-fill: black;
}

/* Hide scroll bars */
#todoList .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

#todoClass {
    -fx-background-color: rgb(0, 0, 0, 0.2);
    -fx-font-size: 20px;
    -fx-font-family: delicious-smallcaps;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 10;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;    
}

.list-cell:selected {
    -fx-background-color: beige;
    -fx-text-fill: darkorange;    
}

#taskIndex {
	-fx-font-size: 20px;
}

#taskDate, #taskTime {
	-fx-font-family: delicious-roman;
	-fx-font-size: 15px;
	-fx-text-fill: orangered;
}

/** user input feedback **/
#feedback {
	-fx-font-family: "Comic Neue Angular";
    -fx-font-size: 25px;
    -fx-fill: white;
}

.text-field {
	-fx-background-color: rgb(255, 255, 255, 0.4);
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: delicious-bold;
	-fx-font-size: 20px;
}

.check-box .box {
	-fx-background-color: rgb(255, 255, 255, 0);
	-fx-background-radius: 50 50 50 50;
	-fx-border-radius: 50 50 50 50;
	-fx-border-color: darkorange;
	-fx-border-width: 2;
}