@font-face {
    font-family: delicious-bold;
    src: url("Fonts/Delicious-Bold.otf");
}

@font-face {
    font-family: delicious-roman;
    src: url("Fonts/Delicious-Roman.otf");
}

@font-face {
    font-family: delicious-smallcaps;
    src: url("Fonts/Delicious-SmallCaps.otf");
}
 
@font-face {
    font-family: infinity;
    src: url("Fonts/Infinity.ttf");
} 


#mainPaneDefault {
     -fx-background-image: url("/Application/Stylesheets/Background/empty_wall.png");
}

#mainPaneSea {
    -fx-background-image: url("/Application/Stylesheets/Background/sea.jpg");
}

#mainPaneFalls {
    -fx-background-image: url("/Application/Stylesheets/Background/waterfalls.jpg");
}

.root {
	-fx-background-size:cover;
    -fx-min-width: 1020px;
}

#welcomeMessage {
	-fx-alignment: center ; 
	-fx-padding: 50 0 0 -230;
}

#titleMessage {
	-fx-font-family: delicious-smallcaps;
	-fx-font-size: 80px;
	-fx-fill: darkorange;
}

#subMessage {
	-fx-font-family: delicious-roman;
	-fx-font-size: 15px;
}

#imageView {
	-fx-opacity: 0.5;
}

.borderPane {
    -fx-max-width: 1020px;
}

#quote {
     -fx-font-family: infinity;
     -fx-font-size: 20px;
     -fx-fill: black;
}

/** list **/
#todoList {
	-fx-background-color: rgb(255, 255, 255, 0.2);
    -fx-font-size: 20px;
    -fx-font-family: delicious-roman;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

/* Hide scroll bars */
#todoList .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

#todoClass {
    -fx-background-color: rgb(255, 255, 255, 0.4);
    -fx-font-size: 20px;
    -fx-font-family: delicious-smallcaps;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;    
}

#taskDate, #taskTime {
	-fx-font-family: Monospaced;
	-fx-font-size: 17px;
}

/** user input feedback **/
#feedback {
    -fx-font-size: 20px;
    -fx-fill: black;
    -fx-font-family: delicious-bold;
}

/** check box **/
.check-box {
    -fx-text-fill: black;
}